<br />
<a routerLink='/customer-add' class="btn btn-success">Add New Customer</a>
<br /><br />
<h3>Customer List</h3>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customerList">
            <td>{{ customer.name }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.age }}</td>
            <td>
                <a [routerLink]="['/customer-detail', customer._id]" class="btn btn-dark">View Detail</a>
            </td>
        </tr>
    </tbody>
</table>